<main class="main" id="top">
    <div class="container-fluid px-0">
        <div class="container-fluid">
            <div class="row flex-center position-relative min-vh-100 g-0 py-5">
                <div class="col-11 col-sm-10 col-xl-8">
                    <div class="card border border-300 auth-card">
                        <div class="card-body pe-md-0">
                            <div class="row align-items-center mx-3 gx-0 gy-5">
                                <div class="col-auto bg-100 dark__bg-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                                    <div class="bg-holder card-col-bg"></div>
                                    <div class="position-relative px-4 pt-7 pb-7 pb-sm-5 pb-lg-7 text-center text-md-start px-md-7">
                                        <div class="false"><a href="index.html">
                                                <div class="d-flex align-items-center justify-content-center justify-content-md-start"><img
                                                        src="/assets/img/icons/logo.png" alt="phoenix" width="48" /></div>
                                            </a>
                                            <h3 class="mt-3 text-black">Signed out</h3><a class="fw-bold fs--1" routerLink="/auth/login">Log
                                                in to your account
                                                <span class="fas fa-angle-right ms-1" data-fa-transform="down-1 shrink-2"></span></a>
                                        </div>
                                    </div>
                                    <div class="position-relative z-index--1 mb-6 d-none d-sm-block text-center mt-md-15"><img
                                            class="auth-title-box-img d-dark-none" src="/assets/img/spot-illustrations/auth.png"
                                            alt="" /><img class="auth-title-box-img d-light-none"
                                            src="/assets/img/spot-illustrations/auth-dark.png" alt="" /></div>
                                </div>
                                <div class="col mx-auto">
                                    <div class="auth-form-box">
                                        <div class="text-center mb-6 mx-auto">
                                            <img class="mb-7 d-dark-none" src="/assets/img/spot-illustrations/1.png" alt="phoenix" />
                                            <img class="mb-7 d-light-none" src="/assets/img/spot-illustrations/dark_1.png" alt="phoenix" />
                                            <div class="mb-6">
                                                <h4 class="text-1000">Come back soon!</h4>
                                                <p class="text-700">Thanks for using Phoenix.
                                                    <br class="d-lg-none" />You are now
                                                    successfully
                                                    signed out.
                                                </p>
                                            </div>
                                            <div class="d-grid">
                                                <a class="btn btn-primary" routerLink="/auth/login">
                                                    <span class="fas fa-angle-left me-2"></span>Go to sign in page</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>