<div class="border-bottom mb-7 mx-n3 px-2 mx-lg-n6 px-lg-6">
    <div class="row">
        <div class="col-xl-12">
            <div class="d-sm-flex justify-content-between">
                <h2 class="mb-4">Create a new lead</h2>
                <div class="d-flex mb-3">
                    <button class="btn btn-phoenix-primary me-2 px-6">Cancel</button>
                    <button class="btn btn-primary">Create lead</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <h4 class="mb-3">Lead Information </h4>
        <form class="row g-3 mb-9">
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputCompanyname" type="text" placeholder="Company name" />
                    <label for="floatingInputCompanyname">Company name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputWebsitelink" type="text" placeholder="Website link" />
                    <label for="floatingInputWebsitelink">Website link</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputLinkedin" type="text" placeholder="Linkedin link" />
                    <label for="floatingInputLinkedin">Linkedin link</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputLocation" type="text" placeholder="Location" />
                    <label for="floatingInputLocation">Location</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputIndustry" type="text" placeholder="Industry" />
                    <label for="floatingInputIndustry">Industry</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputRevenue" type="text" placeholder="revenue" />
                    <label for="floatingInputRevenue">Annual revenue </label>
                </div>
            </div>
            <h4 class="mt-6">Activities</h4>
            <div class="col-12">
                <div class="form-floating">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1" />
                        <label class="form-check-label" for="inlineCheckbox1">Internal Project</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="option2" />
                        <label class="form-check-label" for="inlineCheckbox2">External Project</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="option2" />
                        <label class="form-check-label" for="inlineCheckbox2">Recruitment Agency</label>
                    </div>
                </div>
            </div>
            <h4 class="mt-6">Company Size</h4>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputTotalSize" type="number" placeholder="Total size" />
                    <label for="floatingInputTotalSize">Total size</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputDevSize" type="number" placeholder="Dev Size" />
                    <label for="floatingInputDevSize">Dev Size</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputFESize" type="number" placeholder="FE Size" />
                    <label for="floatingInputFESize">FE Size</label>
                </div>
            </div>
            <h4 class="mt-6">Hiring Information</h4>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" />
                        <label class="form-check-label" for="flexSwitchCheckDefault">Is currently hiring?</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="flexSwitchCheckDefault2" type="checkbox" />
                        <label class="form-check-label" for="flexSwitchCheckDefault2">Is hiring junior?</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="flexSwitchCheckDefault3" type="checkbox" />
                        <label class="form-check-label" for="flexSwitchCheckDefault3">Has Talent program?</label>
                    </div>
                </div>
            </div>
            <h4 class="mt-6">Status</h4>
            <div class="col-12">
                <select class="form-select form-select-lg mb-3">
                    <option selected="">Preliminaries</option>
                    <option value="1">Investigation</option>
                    <option value="2">Demonstrating Capabilities</option>
                    <option value="3">Obtaining Commitment</option>
                </select>
            </div>
            <h4 class="mt-6">Notes</h4>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" id="floatingProjectOverview" placeholder="Leave a comment here"
                        style="height: 128px"></textarea>
                    <label for="floatingProjectOverview">Lead description</label>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end mt-6">
                <button class="btn btn-primary">Create lead</button>
            </div>
        </form>
    </div>
</div>