<ng-container *ngIf="leadList$|async as leadList; else loading" class='modal-open'>
    <div class="pb-9">
        <h2 class="mb-4">{{leadList.length}} <ng-container *ngIf="leadList.length==1;else multiLeads">Company</ng-container>
            <ng-template #multiLeads>Companies</ng-template>
        </h2>
        <div id="dealsTable" data-list='{"valueNames":["name","email","phone","contact","company","date"],"page":10,"pagination":true}'>
            <div class="row g-3 justify-content-between mb-4">
                <div class="col-auto">
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <ng-container *ngIf="isAdmin$ | async"><button class="btn btn-primary me-4" routerLink="/create-lead"><span
                                        class="fas fa-plus me-2"></span>Create Lead</button></ng-container>

                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-flex">
                        <button class="btn px-3 btn-phoenix-secondary" type="button" data-boundary="window" aria-haspopup="true"
                            aria-expanded="false" data-bs-reference="parent" (click)="showFilterModal()"><span
                                class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span></button>
                        <div class="modal fade" [ngClass]="{show: isFilterModalVisible$|async,showModal: isFilterModalVisible$|async}"
                            id="filterModal" tabindex="-1" aria-modal="true" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content border">
                                    <form [formGroup]="filterForm" id="addEventForm" autocomplete="off">
                                        <div class="modal-header border-200 p-4">
                                            <h5 class="modal-title text-1000 fs-2 lh-sm">Filter</h5><button class="btn p-1 text-900"
                                                type="button" data-bs-dismiss="modal" aria-label="Close" (click)="hideFilterModal()"><span
                                                    class="fas fa-times fs--1"></span></button>
                                        </div>
                                        <div class="modal-body pt-4 pb-2 px-4">
                                            <div formGroupName='scope' class="mb-3">
                                                <label class="fw-bold mb-2 text-1000" for="leadStatus">Scope</label>
                                                <div class="form-check" *ngFor="let item of activityList$|async">
                                                    <input class="form-check-input" [formControlName]='item.id' id="inlineCheckbox1"
                                                        type="checkbox" />
                                                    <label class="form-check-label" for="inlineCheckbox1">{{item.name}}</label>
                                                </div>
                                            </div>
                                            <div formGroupName='size' class="mb-3">
                                                <label class="fw-bold mb-2 text-1000" for="createDate">Lead Size</label>
                                                <div class="form-check" *ngFor="let item of leadSizeList$|async">
                                                    <input class="form-check-input" [formControlName]='item.rangeId' id="inlineCheckbox1"
                                                        type="checkbox" />
                                                    <label class="form-check-label" for="inlineCheckbox1">{{item.from}}
                                                        <ng-container *ngIf="item.to; else toInfinity">-</ng-container>
                                                        <ng-template #toInfinity>+</ng-template>
                                                        {{item.to}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-end align-items-center px-4 pb-4 border-0 pt-3">
                                            <button class="btn btn-sm btn-phoenix-primary px-4 fs--2 my-0" type="submit"
                                                (click)="onResetButtonClearControls()">
                                                <span class="fas fa-arrows-rotate me-2 fs--2"></span>Reset
                                            </button>
                                            <button class="btn btn-sm btn-primary px-9 fs--2 my-0" type="submit"
                                                (click)="hideFilterModal()">Done</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4 mx-lg-n6 px-lg-6">
                <div class="table-responsive scrollbar mx-n1 px-1 border-top">
                    <table class="table fs--1 mb-0 leads-table">
                        <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle text-uppercase" scope="col" style="width: 5%;">Name</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end" scope="col" style="width: 5%;">Activities
                                </th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end" scope="col" style="width: 5%;">Hiring</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end" scope="col" style="width: 5%;">Industry
                                </th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end" scope="col" style="width: 5%;">Location
                                </th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end" scope="col" style="width: 5%;">Size</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end" scope="col" style="width: 5%;">Revenue
                                </th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end" scope="col" style="width: 5%;">Website
                                    link
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list" id="deal-tables-body">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static" *ngFor="let lead of leadList">
                                <td class="name align-middle white-space-nowrap">
                                    <div class="d-flex align-items-center">
                                        <div><a class="fs-0 fw-bold" [href]="lead.websiteLink" target="_blank">{{lead.name}}</a>
                                            <div class="d-flex align-items-center justify-content-around">
                                                <a [href]="lead.linkedinLink" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                                                <a [href]="lead.websiteLink" target="_blank"><i class="fa-solid fa-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">
                                    <div *ngFor="let tag of lead.activityIds">
                                        <div><span class="badge badge-phoenix badge-phoenix-warning">{{ tag }}</span></div>
                                    </div>
                                </td>
                                <td class="align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">
                                    <div>Is hiring: <i class="fa-solid"
                                            [ngClass]="{'fa-check': lead.hiring.active,'fa-xmark': !lead.hiring.active}"></i></div>
                                    <div>Juniors: <i class="fa-solid"
                                            [ngClass]="{'fa-check': lead.hiring.junior,'fa-xmark': !lead.hiring.junior}"></i></div>
                                    <div>Talent Program: <i class="fa-solid"
                                            [ngClass]="{'fa-check': lead.hiring.talentProgram,'fa-xmark': !lead.hiring.talentProgram}"></i>
                                    </div>
                                </td>
                                <td class="align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">
                                    <div class="d-flex align-items-center">
                                        <div>{{ lead.industry }}</div>
                                    </div>
                                </td>
                                <td class="align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">
                                    <div class="d-flex align-items-center">
                                        <div>{{ lead.location}}</div>
                                    </div>
                                </td>
                                <td class="date align-middle white-space-nowrap text-600 ps-4 text-700 border-end">
                                    <div>Total: {{ lead.companySize.total }}</div>
                                    <div>Dev: {{lead.companySize.dev}}</div>
                                    <div>FE: {{lead.companySize.fe}}</div>
                                </td>
                                <td class="date align-middle white-space-nowrap text-600 ps-4 text-700 border-end">
                                    <div class="d-flex align-items-center">
                                        <div>Total: {{ lead.annualRevenue}}</div>
                                    </div>
                                </td>
                                <td class="align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">
                                    <div class="d-flex align-items-center">
                                        <a [href]='lead.websiteLink' target='_blank'>
                                            <div><span class="badge badge-phoenix badge-phoenix-primary">{{lead.websiteLink}}</span></div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <div class="d-flex flex-center py-10">
        <div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>

</ng-template>
<footer class="footer position-absolute">
    <div class="row g-0 justify-content-between align-items-center h-100">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span
                    class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;</p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v1.9.0</p>
        </div>
    </div>
</footer>
<div class="fade" [ngClass]="{'modal-backdrop': isFilterModalVisible$|async,show: isFilterModalVisible$|async}"></div>