/* You can add global styles to this file, and also import other style files */
.form-icon{
    max-width: max-content !important;
}

.page-bg{
    background-image : url(./assets/img/bg/37.png)
}

.card-col-bg{
    background-image : url(./assets/img/bg/38.png)
}

.showModal{
    display: block !important;
}